{
  "swagger":"2.0",
  "info":{
    "description":"Api Documentation",
    "version":"1.0",
    "title":"Api Documentation",
    "termsOfService":"urn:tos",
    "contact":{

    },
    "license":{
      "name":"Apache 2.0",
      "url":"http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host":"paymentproxy-corepayments.svc.solution-testblue.mylti3gh7p4x.net",
  "basePath":"/",
  "tags":[
    {
      "name":"account-controller",
      "description":"Account Controller"
    },
    {
      "name":"basic-error-controller",
      "description":"Basic Error Controller"
    },
    {
      "name":"cain-001-controller",
      "description":"Cain 001 Controller"
    },
    {
      "name":"domestic-payment-controller",
      "description":"Domestic Payment Controller"
    },
    {
      "name":"fis-controller",
      "description":"FIS Controller"
    },
    {
      "name":"fps-out-controller",
      "description":"FPS Out Controller"
    },
    {
      "name":"operation-handler",
      "description":"Operation Handler"
    },
    {
      "name":"pain-002-controller",
      "description":"Pain 002 Controller"
    }
  ],
  "paths":{
    "/error":{
      "get":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingGET",
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      },
      "head":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingHEAD",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      },
      "post":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingPOST",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      },
      "put":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingPUT",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      },
      "delete":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingDELETE",
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      },
      "options":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingOPTIONS",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      },
      "patch":{
        "tags":[
          "basic-error-controller"
        ],
        "summary":"error",
        "operationId":"errorUsingPATCH",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"object"
              }
            }
          },
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      }
    },
    "/health":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET_2",
        "produces":[
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/health/{component}":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET_1",
        "produces":[
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/health/{component}/{instance}":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET",
        "produces":[
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/httptrace":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET_3",
        "produces":[
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/info":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET_4",
        "produces":[
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/metrics":{
      "get":{
        "tags":[
          "operation-handler"
        ],
        "summary":"handle",
        "operationId":"handleUsingGET_5",
        "produces":[
          "text/plain;version=0.0.4;charset=utf-8"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"body",
            "description":"body",
            "required":false,
            "schema":{
              "type":"object",
              "additionalProperties":{
                "type":"string"
              }
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"object"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/accounts":{
      "post":{
        "tags":[
          "account-controller"
        ],
        "summary":"accountCreation",
        "operationId":"accountCreationUsingPOST",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"accountCreationDto",
            "description":"accountCreationDto",
            "required":true,
            "schema":{
              "$ref":"#/definitions/AccountCreationDto"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/AccountCreateResponse"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      },
      "delete":{
        "tags":[
          "account-controller"
        ],
        "summary":"Delete account on scheme provider",
        "operationId":"accountDeletionUsingDELETE",
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"accountDeletionDto",
            "description":"accountDeletionDto",
            "required":true,
            "schema":{
              "$ref":"#/definitions/AccountDeletionDto"
            }
          }
        ],
        "responses":{
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/accounts/confirmation-notification":{
      "post":{
        "tags":[
          "account-controller"
        ],
        "summary":"accountCreationConfirmationNotification",
        "operationId":"accountCreationConfirmationNotificationUsingPOST",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"accountCreateResponse",
            "description":"accountCreateResponse",
            "required":true,
            "schema":{
              "$ref":"#/definitions/AccountCreateResponse"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/make-fps-payment":{
      "post":{
        "tags":[
          "fps-out-controller"
        ],
        "summary":"FPS Out endpoint for PAIN001",
        "operationId":"fpsOutReceiver",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"transactionMessage",
            "description":"transactionMessage",
            "required":true,
            "schema":{
              "$ref":"#/definitions/TransactionMessage"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/TransactionMessage"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/payment/fps/in":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"FPS IN PAYMENT",
        "operationId":"processFpsInPayment",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"transactionMessage",
            "description":"transactionMessage",
            "required":true,
            "schema":{
              "$ref":"#/definitions/TransactionMessage"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/FpsInPaymentResponse"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/payment/fps/out":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"FPS OUT PAYMENT",
        "operationId":"processFpsOutPayment",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "name":"Tenant-Key",
            "in":"header",
            "description":"Tenant-Key",
            "required":false,
            "type":"string"
          },
          {
            "in":"body",
            "name":"transactionMessage",
            "description":"transactionMessage",
            "required":true,
            "schema":{
              "$ref":"#/definitions/TransactionMessage"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/FpsOutPaymentResponse"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/payment/fps/out/pain002":{
      "post":{
        "tags":[
          "pain-002-controller"
        ],
        "summary":"processPain002Message",
        "operationId":"processPain002MessageUsingPOST",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"transactionMessage",
            "description":"fps out request",
            "required":true,
            "schema":{
              "$ref":"#/definitions/TransactionMessage"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v1/receive-fps-payment":{
      "post":{
        "tags":[
          "fis-controller"
        ],
        "summary":"FPS RECEIVE PAYMENT",
        "operationId":"receiveFPSPayment",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"fisMessageRequest",
            "description":"fisMessageRequest",
            "required":true,
            "schema":{
              "$ref":"#/definitions/FISMessageRequest"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/FISMessageResponse"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payment-proxy/v2/card-auth-receiver":{
      "post":{
        "tags":[
          "cain-001-controller"
        ],
        "summary":"Card Payment Authorisation",
        "operationId":"processCardAuth",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"cardAuthRequest",
            "description":"card auth request",
            "required":true,
            "schema":{
              "type":"string"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"string"
            }
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-credit/admission":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"BACS ADMISSION PAYMENT",
        "operationId":"bacsAdmissionPayment_1",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"bacsPaymentRequest",
            "description":"bacsPaymentRequest",
            "required":true,
            "schema":{
              "$ref":"#/definitions/BacsPaymentRequest"
            }
          }
        ],
        "responses":{
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-credit/initiation":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"BACS Scheduler",
        "operationId":"BACS Scheduler",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit-mandate/paper/admission":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"create Bacs DD paper mandate",
        "operationId":"create Bacs DD paper mandate",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"ddMandatePaperRequest",
            "description":"ddMandatePaperRequest",
            "required":true,
            "schema":{
              "$ref":"#/definitions/BacsDDMandatePaperRequest"
            }
          }
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/admission":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"BACS DD ADMISSION PAYMENT",
        "operationId":"bacsDDAdmissionPayment",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"bacsDirectDebitAdmissionRequest",
            "description":"bacsDirectDebitAdmissionRequest",
            "required":true,
            "schema":{
              "$ref":"#/definitions/BacsDirectDebitAdmissionRequest"
            }
          }
        ],
        "responses":{
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/cancel/subscriptions/{subscription-key}/mandates/cancel":{
      "patch":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"cancel an active mandate ",
        "operationId":"cancel Mandate",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "name":"mandateId",
            "in":"query",
            "description":"mandateId",
            "required":false,
            "type":"string",
            "format":"uuid"
          },
          {
            "name":"originator",
            "in":"query",
            "description":"originator",
            "required":false,
            "type":"string",
            "enum":[
              "CUSTOMER",
              "COLLEAGUE"
            ]
          },
          {
            "name":"subscription-key",
            "in":"path",
            "description":"subscription-key",
            "required":true,
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "$ref":"#/definitions/ResponseEntity"
            }
          },
          "204":{
            "description":"No Content"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/initiation":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"BACS DD Scheduler",
        "operationId":"BACS DD Scheduler",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/notify/cancel/mandates/initiation":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"Notify Cancel Mandates Scheduler",
        "operationId":"Notify Cancel Mandates Scheduler",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/notify/failed/collections/initiation":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"Notify Failed Mandates Scheduler",
        "operationId":"Notify Failed Mandates Scheduler",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/notify/new/mandates/initiation":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"Notify New Mandates Scheduler",
        "operationId":"Notify New Mandates Scheduler",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "responses":{
          "200":{
            "description":"OK"
          },
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/subscriptions/{subscriptionKey}/collections":{
      "get":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"Retrieve Bacs DD Collection",
        "operationId":"Retrieve Bacs DD Collection",
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "name":"subscriptionKey",
            "in":"path",
            "description":"subscriptionKey",
            "required":true,
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"array",
              "items":{
                "$ref":"#/definitions/BacsDDDto"
              }
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/payments/domestic/bacs/direct-debit/subscriptions/{subscriptionKey}/mandates":{
      "get":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"Retrieve Bacs DD Mandate",
        "operationId":"Retrieve Bacs DD Mandate",
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "name":"mandateId",
            "in":"query",
            "description":"mandateId",
            "required":false,
            "type":"string",
            "format":"uuid"
          },
          {
            "name":"status",
            "in":"query",
            "description":"status",
            "required":false,
            "type":"string",
            "enum":[
              "ACTIVE",
              "CANCELLED",
              "REJECT_NEW",
              "DUPLICATE",
              "CANCEL_REQUESTED",
              "CANCELLATION_REQUEST"
            ]
          },
          {
            "name":"subscriptionKey",
            "in":"path",
            "description":"subscriptionKey",
            "required":true,
            "type":"string"
          }
        ],
        "responses":{
          "200":{
            "description":"OK",
            "schema":{
              "type":"array",
              "items":{
                "$ref":"#/definitions/BacsDDMandateDto"
              }
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/v1/payments/domestic/bacs/direct-credit/recalled":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"BACS ADMISSION PAYMENT",
        "operationId":"bacsAdmissionPayment",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"bacsPaymentRecallRequestDto",
            "description":"bacsPaymentRecallRequestDto",
            "required":true,
            "schema":{
              "$ref":"#/definitions/BacsPaymentRecallRequestDto"
            }
          }
        ],
        "responses":{
          "201":{
            "description":"Created"
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    },
    "/v1/payments/domestic/bacs/direct-debit-mandate/admission":{
      "post":{
        "tags":[
          "domestic-payment-controller"
        ],
        "summary":"DirectDebitMandateRecieve",
        "operationId":"DirectDebitMandateRecieveUsingPOST",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "*/*"
        ],
        "parameters":[
          {
            "in":"body",
            "name":"directDebitMandateRequest",
            "description":"directDebitMandateRequest",
            "required":true,
            "schema":{
              "$ref":"#/definitions/DirectDebitMandateRequest"
            }
          }
        ],
        "responses":{
          "201":{
            "description":"Created",
            "schema":{
              "$ref":"#/definitions/DirectDebitMandateResponse"
            }
          },
          "401":{
            "description":"Unauthorized"
          },
          "403":{
            "description":"Forbidden"
          },
          "404":{
            "description":"Not Found"
          }
        },
        "deprecated":false
      }
    }
  },
  "definitions":{
    "Account":{
      "type":"object",
      "properties":{
        "accountName":{
          "type":"string"
        },
        "accountNumber":{
          "type":"string"
        },
        "bankId":{
          "type":"string"
        }
      },
      "title":"Account"
    },
    "AccountCreateResponse":{
      "type":"object",
      "properties":{
        "accountNumber":{
          "type":"string"
        },
        "accountStatus":{
          "type":"string"
        },
        "bankId":{
          "type":"string"
        },
        "errorReason":{
          "type":"string"
        },
        "notificationRequired":{
          "type":"boolean"
        },
        "virtualAccountId":{
          "type":"string"
        }
      },
      "title":"AccountCreateResponse"
    },
    "AccountCreationDto":{
      "type":"object",
      "properties":{
        "accountName":{
          "type":"string"
        },
        "accountNumber":{
          "type":"string"
        },
        "bankId":{
          "type":"string"
        },
        "countryCode":{
          "type":"string"
        },
        "currency":{
          "type":"string"
        },
        "ownerName":{
          "type":"string"
        },
        "tenantKey":{
          "type":"string"
        }
      },
      "title":"AccountCreationDto"
    },
    "AccountDeletionDto":{
      "type":"object",
      "properties":{
        "tenantKey":{
          "type":"string"
        },
        "virtualAccountId":{
          "type":"string"
        }
      },
      "title":"AccountDeletionDto"
    },
    "Amount":{
      "type":"object",
      "properties":{
        "currency":{
          "type":"string"
        },
        "value":{
          "type":"number"
        }
      },
      "title":"Amount"
    },
    "BacsDDDto":{
      "type":"object",
      "properties":{
        "amount":{
          "type":"number"
        },
        "bacs_dd_id":{
          "type":"string",
          "format":"uuid"
        },
        "bacs_dd_ref":{
          "type":"string"
        },
        "creditor_account_name":{
          "type":"string"
        },
        "creditor_account_number":{
          "type":"string"
        },
        "creditor_sort_code":{
          "type":"string"
        },
        "processing_date":{
          "type":"string",
          "format":"date-time"
        }
      },
      "title":"BacsDDDto"
    },
    "BacsDDMandateDto":{
      "type":"object",
      "properties":{
        "bacsDdMandateId":{
          "type":"string",
          "format":"uuid"
        },
        "bacsDdMandateRef":{
          "type":"string"
        },
        "bacsDdMandateStatus":{
          "type":"string",
          "enum":[
            "ACTIVE",
            "CANCELLED",
            "REJECT_NEW",
            "DUPLICATE",
            "CANCEL_REQUESTED",
            "CANCELLATION_REQUEST"
          ]
        },
        "bacsDdMandateStatusReason":{
          "type":"string",
          "enum":[
            "DUPLICATE_NEW",
            "SUBSCRIPTION_NOT_FOUND",
            "SUBSCRIPTION_NOT_ACTIVE",
            "DUPLICATE_FOUND",
            "PAYER_REQUESTED",
            "PAYER_COLLEAGUE_REQUESTED",
            "ORIGINATOR_REQUESTED",
            "MANDATE_NOT_FOUND",
            "MANDATE_MATCHED"
          ]
        },
        "bacsDdServiceUserNumber":{
          "type":"string"
        },
        "creditorAccountName":{
          "type":"string"
        },
        "creditorAccountNumber":{
          "type":"string"
        },
        "creditorSortCode":{
          "type":"string"
        },
        "dateLastProcessed":{
          "type":"string",
          "format":"date-time"
        },
        "dateReceived":{
          "type":"string",
          "format":"date-time"
        },
        "debtorAccountName":{
          "type":"string"
        },
        "debtorAccountNumber":{
          "type":"string"
        },
        "debtorSortCode":{
          "type":"string"
        }
      },
      "title":"BacsDDMandateDto"
    },
    "BacsDDMandatePaperRequest":{
      "type":"object",
      "properties":{
        "creditorAccountNumber":{
          "type":"string"
        },
        "creditorBankName":{
          "type":"string"
        },
        "creditorName":{
          "type":"string"
        },
        "creditorSortCode":{
          "type":"string"
        },
        "debtorAccountName":{
          "type":"string"
        },
        "debtorAccountNumber":{
          "type":"string"
        },
        "debtorSortCode":{
          "type":"string"
        },
        "reference":{
          "type":"string"
        },
        "serviceUserNumber":{
          "type":"string"
        }
      },
      "title":"BacsDDMandatePaperRequest"
    },
    "BacsDirectDebitAdmissionRequest":{
      "type":"object",
      "properties":{
        "nonce":{
          "type":"string"
        },
        "payload":{
          "$ref":"#/definitions/BacsDirectDebitPaymentData"
        },
        "type":{
          "type":"string"
        },
        "version":{
          "type":"number",
          "format":"float"
        }
      },
      "title":"BacsDirectDebitAdmissionRequest"
    },
    "BacsDirectDebitPaymentData":{
      "type":"object",
      "properties":{
        "amount":{
          "type":"number"
        },
        "bacsTransactionId":{
          "type":"string"
        },
        "currency":{
          "type":"string",
          "enum":[
            "GBP"
          ]
        },
        "payee":{
          "$ref":"#/definitions/Account"
        },
        "payer":{
          "$ref":"#/definitions/Account"
        },
        "processingDate":{
          "type":"string",
          "format":"date-time"
        },
        "reference":{
          "type":"string"
        },
        "serviceUserNumber":{
          "type":"string"
        },
        "source":{
          "type":"string"
        },
        "transactionCode":{
          "type":"string"
        }
      },
      "title":"BacsDirectDebitPaymentData"
    },
    "BacsPaymentRecallRequestDto":{
      "type":"object",
      "properties":{
        "amount":{
          "type":"number"
        },
        "payeeAccountNumber":{
          "type":"string"
        },
        "payeeBankId":{
          "type":"string"
        },
        "payerAccountNumber":{
          "type":"string"
        },
        "payerBankId":{
          "type":"string"
        },
        "paymentReference":{
          "type":"string"
        }
      },
      "title":"BacsPaymentRecallRequestDto"
    },
    "BacsPaymentRequest":{
      "type":"object",
      "properties":{
        "amount":{
          "$ref":"#/definitions/Amount"
        },
        "bacsReasonCode":{
          "type":"string"
        },
        "bacsTxnCode":{
          "type":"string"
        },
        "lastModifiedTime":{
          "type":"string",
          "format":"date-time"
        },
        "numericReference":{
          "type":"string"
        },
        "payee":{
          "$ref":"#/definitions/Account"
        },
        "payeeBban":{
          "type":"string"
        },
        "payeeIban":{
          "type":"string"
        },
        "payer":{
          "$ref":"#/definitions/Account"
        },
        "payerBban":{
          "type":"string"
        },
        "paymentReference":{
          "type":"string"
        },
        "paymentStatus":{
          "type":"string",
          "enum":[
            "SUCCESS",
            "FAILURE"
          ]
        },
        "paymentStatusReason":{
          "type":"string"
        },
        "processingDate":{
          "type":"string",
          "format":"date-time"
        },
        "processorPaymentId":{
          "type":"string"
        },
        "pspActualEndToEndId":{
          "type":"string"
        },
        "pspBacsTxnDesc":{
          "type":"string"
        },
        "pspBacsTxnId":{
          "type":"string"
        },
        "pspCreatedDateTime":{
          "type":"string",
          "format":"date-time"
        },
        "pspDateTimeSettled":{
          "type":"string",
          "format":"date-time"
        },
        "pspDebitCreditCode":{
          "type":"string"
        },
        "pspEndToEndId":{
          "type":"string"
        },
        "pspMsgType":{
          "type":"string"
        },
        "pspNonce":{
          "type":"string"
        },
        "pspReturnFlag":{
          "type":"boolean"
        },
        "pspSource":{
          "type":"string"
        },
        "pspTransactionId":{
          "type":"string"
        },
        "pspTxnStatus":{
          "type":"string"
        },
        "pspTxnType":{
          "type":"string"
        },
        "pspType":{
          "type":"string"
        },
        "schemePaymentType":{
          "type":"string"
        },
        "serviceUserNumber":{
          "type":"string"
        },
        "suspense":{
          "$ref":"#/definitions/Account"
        }
      },
      "title":"BacsPaymentRequest"
    },
    "Counterparty":{
      "type":"object",
      "properties":{
        "counterpartyAccountAgentId":{
          "type":"string"
        },
        "counterpartyAccountAgentIdType":{
          "type":"string"
        },
        "counterpartyAccountId":{
          "type":"string"
        },
        "counterpartyAccountIdType":{
          "type":"string"
        },
        "counterpartyAddressLine1":{
          "type":"string"
        },
        "counterpartyAddressLine2":{
          "type":"string"
        },
        "counterpartyAddressLine3":{
          "type":"string"
        },
        "counterpartyAddressLine4":{
          "type":"string"
        },
        "counterpartyAddressLine5":{
          "type":"string"
        },
        "counterpartyCity":{
          "type":"string"
        },
        "counterpartyCountry":{
          "type":"string"
        },
        "counterpartyCountrySubDivision":{
          "type":"string"
        },
        "counterpartyName":{
          "type":"string"
        },
        "counterpartyPostalCode":{
          "type":"string"
        },
        "remittanceUnstructured1":{
          "type":"string"
        },
        "remittanceUnstructured2":{
          "type":"string"
        },
        "remittanceUnstructured3":{
          "type":"string"
        },
        "remittanceUnstructured4":{
          "type":"string"
        }
      },
      "title":"Counterparty"
    },
    "DirectDebitMandateRequest":{
      "type":"object",
      "properties":{
        "nonce":{
          "type":"string"
        },
        "payload":{
          "$ref":"#/definitions/PaymentData"
        },
        "type":{
          "type":"string"
        },
        "version":{
          "type":"number",
          "format":"float"
        }
      },
      "title":"DirectDebitMandateRequest"
    },
    "DirectDebitMandateResponse":{
      "type":"object",
      "properties":{
        "Nonce":{
          "type":"string"
        }
      },
      "title":"DirectDebitMandateResponse"
    },
    "EntryAmount":{
      "type":"object",
      "properties":{
        "amount":{
          "type":"number"
        },
        "currency":{
          "type":"string"
        }
      },
      "title":"EntryAmount"
    },
    "FISMessageRequest":{
      "type":"object",
      "properties":{
        "accountAgentId":{
          "type":"string"
        },
        "accountAgentIdType":{
          "type":"string"
        },
        "accountId":{
          "type":"string"
        },
        "accountIdType":{
          "type":"string"
        },
        "accountName":{
          "type":"string"
        },
        "bankTransactionDomainCode":{
          "type":"string"
        },
        "bankTransactionFamilyCode":{
          "type":"string"
        },
        "bankTransactionIssuer":{
          "type":"string"
        },
        "bankTransactionProprietaryCode":{
          "type":"string"
        },
        "bankTransactionSubFamilyCode":{
          "type":"string"
        },
        "bookingDate":{
          "type":"string"
        },
        "businessReversalFlag":{
          "type":"boolean"
        },
        "cancelFundsReservationFlag":{
          "type":"boolean"
        },
        "clearedFlag":{
          "type":"string"
        },
        "debitCreditIndicator":{
          "type":"string"
        },
        "dryRunFlag":{
          "type":"boolean"
        },
        "entryAmount":{
          "$ref":"#/definitions/EntryAmount"
        },
        "externalReferenceId":{
          "type":"string"
        },
        "forceFlag":{
          "type":"string"
        },
        "fundsAvailableDate":{
          "type":"string"
        },
        "paymentIdentification":{
          "type":"string"
        },
        "paymentInstitutionSubEntity":{
          "type":"string"
        },
        "paymentTraceId":{
          "type":"string"
        },
        "requestingSystemId":{
          "type":"string"
        },
        "supplementaryData":{
          "$ref":"#/definitions/SupplementaryData"
        },
        "transactionDetails":{
          "$ref":"#/definitions/TransactionDetails"
        },
        "valueDate":{
          "type":"string"
        }
      },
      "title":"FISMessageRequest"
    },
    "FISMessageResponse":{
      "type":"object",
      "properties":{
        "coreBankingReferenceId":{
          "type":"string"
        },
        "errors":{
          "type":"string"
        },
        "externalReferenceId":{
          "type":"string"
        },
        "outcome":{
          "type":"string"
        },
        "postingDate":{
          "type":"string"
        },
        "requestingSystemId":{
          "type":"string"
        },
        "responseCode":{
          "type":"string"
        },
        "responseDescription":{
          "type":"string"
        },
        "supplementaryData":{
          "$ref":"#/definitions/ResponseSupplementaryData"
        }
      },
      "title":"FISMessageResponse"
    },
    "FpsData":{
      "type":"object",
      "properties":{
        "regionalSupplementaryData":{
          "type":"string"
        },
        "settlementCycleId":{
          "type":"string"
        }
      },
      "title":"FpsData"
    },
    "FpsInPaymentResponse":{
      "type":"object",
      "properties":{
        "reasonDto":{
          "$ref":"#/definitions/ReasonDto"
        },
        "transactionMessage":{
          "$ref":"#/definitions/TransactionMessage"
        }
      },
      "title":"FpsInPaymentResponse"
    },
    "FpsOutPaymentResponse":{
      "type":"object",
      "properties":{
        "reasonDto":{
          "$ref":"#/definitions/ReasonDto"
        },
        "transactionMessage":{
          "$ref":"#/definitions/TransactionMessage"
        }
      },
      "title":"FpsOutPaymentResponse"
    },
    "ModelAndView":{
      "type":"object",
      "properties":{
        "empty":{
          "type":"boolean"
        },
        "model":{
          "type":"object"
        },
        "modelMap":{
          "type":"object",
          "additionalProperties":{
            "type":"object"
          }
        },
        "reference":{
          "type":"boolean"
        },
        "status":{
          "type":"string",
          "enum":[
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "view":{
          "$ref":"#/definitions/View"
        },
        "viewName":{
          "type":"string"
        }
      },
      "title":"ModelAndView"
    },
    "OriginalAmount":{
      "type":"object",
      "properties":{
        "amount":{
          "type":"number"
        },
        "currency":{
          "type":"string"
        }
      },
      "title":"OriginalAmount"
    },
    "PaymentData":{
      "type":"object",
      "properties":{
        "mandateId":{
          "type":"string"
        },
        "payee":{
          "$ref":"#/definitions/Account"
        },
        "payer":{
          "$ref":"#/definitions/Account"
        },
        "reference":{
          "type":"string"
        },
        "serviceUserNumber":{
          "type":"string"
        },
        "source":{
          "type":"string"
        },
        "transactionCode":{
          "type":"string"
        }
      },
      "title":"PaymentData"
    },
    "PaymentMessage":{
      "type":"object",
      "properties":{
        "additionalInfo":{
          "type":"object"
        },
        "message":{
          "type":"object"
        },
        "type":{
          "type":"string"
        }
      },
      "title":"PaymentMessage"
    },
    "ReasonDto":{
      "type":"object",
      "properties":{
        "code":{
          "type":"integer",
          "format":"int32"
        },
        "message":{
          "type":"string"
        }
      },
      "title":"ReasonDto"
    },
    "RelatedDates":{
      "type":"object",
      "properties":{
        "interbankSettlementDate":{
          "type":"string"
        }
      },
      "title":"RelatedDates"
    },
    "ResponseEntity":{
      "type":"object",
      "properties":{
        "body":{
          "type":"object"
        },
        "statusCode":{
          "type":"string",
          "enum":[
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "statusCodeValue":{
          "type":"integer",
          "format":"int32"
        }
      },
      "title":"ResponseEntity"
    },
    "ResponseSupplementaryData":{
      "type":"object",
      "properties":{
        "cbsResponseCode":{
          "type":"string"
        }
      },
      "title":"ResponseSupplementaryData"
    },
    "SupplementaryData":{
      "type":"object",
      "properties":{
        "fpsData":{
          "$ref":"#/definitions/FpsData"
        },
        "fxRate":{
          "type":"string"
        },
        "originalAmount":{
          "$ref":"#/definitions/OriginalAmount"
        },
        "originalReference":{
          "type":"string"
        },
        "paymentType":{
          "type":"string"
        },
        "psdFlag":{
          "type":"boolean"
        },
        "returnReasonCode":{
          "type":"string"
        }
      },
      "title":"SupplementaryData"
    },
    "TransactionDetails":{
      "type":"object",
      "properties":{
        "counterparty":{
          "$ref":"#/definitions/Counterparty"
        },
        "postingEventCode":{
          "type":"string"
        },
        "relatedDates":{
          "$ref":"#/definitions/RelatedDates"
        },
        "standinFlag":{
          "type":"boolean"
        }
      },
      "title":"TransactionDetails"
    },
    "TransactionMessage":{
      "type":"object",
      "properties":{
        "additionalInfo":{
          "type":"object"
        },
        "header":{
          "$ref":"#/definitions/TransactionMessageHeader"
        },
        "messages":{
          "type":"array",
          "items":{
            "$ref":"#/definitions/PaymentMessage"
          }
        }
      },
      "title":"TransactionMessage"
    },
    "TransactionMessageHeader":{
      "type":"object",
      "properties":{
        "type":{
          "type":"string"
        },
        "url":{
          "type":"string"
        }
      },
      "title":"TransactionMessageHeader"
    },
    "View":{
      "type":"object",
      "properties":{
        "contentType":{
          "type":"string"
        }
      },
      "title":"View"
    }
  }
}