{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "debitcardmanager-cards.svc.solution-testblue.mylti3gh7p4x.net",
  "basePath": "/",
  "tags": [
    {
      "name": "basic-error-controller",
      "description": "Basic Error Controller"
    },
    {
      "name": "debit-card-controller",
      "description": "Debit Card Controller"
    },
    {
      "name": "operation-handler",
      "description": "Operation Handler"
    }
  ],
  "paths": {
    "/error": {
      "get": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingGET",
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "head": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingHEAD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingDELETE",
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "options": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingOPTIONS",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/health": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_2",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/health/{component}": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_1",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/health/{component}/{instance}": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/httptrace": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_3",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/info": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_4",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_5",
        "produces": [
          "text/plain;version=0.0.4;charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/v1/debit-cards": {
      "get": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Get Debit Card by PartyKey",
        "operationId": "getDebitCardByPartyKey",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Party-Key",
            "in": "header",
            "description": "Party-Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DebitCardResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Create Debit Card with Default Settings",
        "operationId": "createDebitCard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Party-Key",
            "in": "header",
            "description": "Party-Key",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "cardRequest",
            "description": "cardRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDebitCardDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatedDebitCardResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/v1/debit-cards/by-pan-hash": {
      "post": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Get Debit Card by Pan Hash",
        "operationId": "Get Debit Card",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getCardRequest",
            "description": "getCardRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCardRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DebitCardResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/v1/debit-cards/{panToken}": {
      "get": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Get Debit Card by Pan Token",
        "operationId": "getCardByToken",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "panToken",
            "in": "path",
            "description": "panToken",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DebitCardResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/v1/debit-cards/{panToken}/settings": {
      "get": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Get Debit Card Settings by Pan Token",
        "operationId": "Get Debit Card Settings",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "panToken",
            "in": "path",
            "description": "panToken",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DebitCardSettingsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "debit-card-controller"
        ],
        "summary": "Update Debit Card Settings",
        "operationId": "Update Debit Card Settings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "panToken",
            "in": "path",
            "description": "panToken",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCardSettingsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "ChannelSettings": {
      "type": "object",
      "properties": {
        "atm": {
          "type": "boolean"
        },
        "cardHolderNotPresent": {
          "type": "boolean"
        },
        "chipAndPin": {
          "type": "boolean"
        },
        "contactless": {
          "type": "boolean"
        },
        "international": {
          "type": "boolean"
        },
        "magStripe": {
          "type": "boolean"
        }
      },
      "title": "ChannelSettings"
    },
    "CreateDebitCardDTO": {
      "type": "object",
      "properties": {
        "cardCountryCode": {
          "type": "string"
        },
        "cardCurrencyCode": {
          "type": "string"
        },
        "cardEffectiveDate": {
          "type": "string",
          "format": "date"
        },
        "cardExpiryDate": {
          "type": "string",
          "format": "date"
        },
        "cardHolderName": {
          "type": "string"
        },
        "cardProcessorName": {
          "type": "string"
        },
        "panHash": {
          "type": "string"
        },
        "panToken": {
          "type": "string"
        },
        "processorAccountId": {
          "type": "string"
        },
        "processorAppId": {
          "type": "string"
        },
        "processorCustomerId": {
          "type": "string"
        },
        "productKey": {
          "type": "string"
        },
        "serviceCode": {
          "type": "string"
        },
        "subscriptionKey": {
          "type": "string"
        },
        "tenantKey": {
          "type": "string"
        },
        "tokenExpiryDate": {
          "type": "string",
          "format": "date"
        },
        "tokenProviderId": {
          "type": "string"
        },
        "tokenProviderName": {
          "type": "string"
        }
      },
      "title": "CreateDebitCardDTO"
    },
    "CreatedDebitCardResponse": {
      "type": "object",
      "properties": {
        "cardExpiryDate": {
          "type": "string",
          "format": "date"
        },
        "cardStatus": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "FROZEN",
            "CANCELLED"
          ]
        },
        "channelAtm": {
          "type": "boolean"
        },
        "channelChipPin": {
          "type": "boolean"
        },
        "channelCnp": {
          "type": "boolean"
        },
        "channelContactless": {
          "type": "boolean"
        },
        "channelInternational": {
          "type": "boolean"
        },
        "channelMagStripe": {
          "type": "boolean"
        },
        "panHash": {
          "type": "string"
        },
        "panToken": {
          "type": "string"
        },
        "partyKey": {
          "type": "string"
        },
        "processorAccountId": {
          "type": "string"
        },
        "processorAppId": {
          "type": "string"
        },
        "processorCustomerId": {
          "type": "string"
        },
        "subscriptionKey": {
          "type": "string"
        }
      },
      "title": "CreatedDebitCardResponse"
    },
    "DebitCardResponse": {
      "type": "object",
      "properties": {
        "cardCountryCode": {
          "type": "string"
        },
        "cardCurrencyCode": {
          "type": "string"
        },
        "cardEffectiveDate": {
          "type": "string",
          "format": "date"
        },
        "cardExpiryDate": {
          "type": "string",
          "format": "date"
        },
        "cardHolderName": {
          "type": "string"
        },
        "cardProcessorName": {
          "type": "string"
        },
        "panHash": {
          "type": "string"
        },
        "panToken": {
          "type": "string"
        },
        "partyKey": {
          "type": "string"
        },
        "processorAccountId": {
          "type": "string"
        },
        "processorAppId": {
          "type": "string"
        },
        "processorCustomerId": {
          "type": "string"
        },
        "productKey": {
          "type": "string"
        },
        "serviceCode": {
          "type": "string"
        },
        "subscriptionKey": {
          "type": "string"
        },
        "subscriptionStatus": {
          "type": "string"
        },
        "tenantKey": {
          "type": "string"
        },
        "tokenExpiryDate": {
          "type": "string",
          "format": "date"
        },
        "tokenProviderId": {
          "type": "string"
        },
        "tokenProviderName": {
          "type": "string"
        }
      },
      "title": "DebitCardResponse"
    },
    "DebitCardSettingsResponse": {
      "type": "object",
      "properties": {
        "cardStatus": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "FROZEN",
            "CANCELLED"
          ]
        },
        "channelSettings": {
          "$ref": "#/definitions/ChannelSettings"
        },
        "panHash": {
          "type": "string"
        },
        "panToken": {
          "type": "string"
        }
      },
      "title": "DebitCardSettingsResponse"
    },
    "GetCardRequest": {
      "type": "object",
      "properties": {
        "panHash": {
          "type": "string"
        }
      },
      "title": "GetCardRequest"
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "model": {
          "type": "object"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "reference": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "view": {
          "$ref": "#/definitions/View"
        },
        "viewName": {
          "type": "string"
        }
      },
      "title": "ModelAndView"
    },
    "UpdateCardSettingsRequest": {
      "type": "object",
      "properties": {
        "cardStatus": {
          "type": "string",
          "enum": [
            "ACTIVE",
            "FROZEN",
            "CANCELLED"
          ]
        },
        "channelSettings": {
          "$ref": "#/definitions/ChannelSettings"
        }
      },
      "title": "UpdateCardSettingsRequest"
    },
    "View": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string"
        }
      },
      "title": "View"
    }
  }
}